*{
    background-color: rgb(28, 28, 28);
}

body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 0.8rem;
}

h1{
    color: #4b4233;
    display: inline-block;
    width: 570px;
    height: auto;
}

i{
    color: #4b4233;
    font-weight: 700;
    background-color: transparent;
}

p{
    width: 600px;
    height: auto;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

img{
    height: 600px;
    width: auto; 
    margin-top: 20px; 
    box-shadow: 1px 1px 30px 1px;
    color: white;
}

ul{
    background-color: transparent;
    display: inline-block;
}

li{
    background-color: transparent;
}

ul{
    width: 300px;
    height: auto;
}

ul li{
    text-align: left;
}

h4{
    margin: auto;
}

div.ingredients{
    margin-top: 20px;
}

div.equipment{
    margin-top: 20px;
}

.index-link{
    font-size: large;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.index-link:hover, a:hover{
    text-decoration: underline;
}