body{
    text-align: center;
}

h1{
    color: #4b4233;
    display: inline-block;
    width: 570px;
    height: auto;
}

i{
    color: #4b4233;
    font-weight: 700;
    background-color: transparent;
}

p{
    width: 600px;
    height: auto;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

img{
    height: 600px;
    width: auto; 
    margin-top: 20px; 
    box-shadow: 5px 0 30px 5px;
}

ul{
    background-color: transparent;
    display: inline-block;
}

li{
    background-color: transparent;
}

ul{
    width: 300px;
    height: auto;
}

ul li{
    text-align: left;
}

h4{
    margin: auto;
}

div.ingredients{
    margin-top: 20px;
}

div.equipment{
    margin-top: 20px;
}

.index-link{
    font-size: large;
    display: block;
    margin-top: 50px;
    margin-bottom: 20px;
}